#nav-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  width: 100%;
  z-index: 1000;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  line-height: 2.5em;
  font-size: 200%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

#nav-bar button {
  border: 1px black solid;
  border-radius: 12px;
  height: 60px;
  width: 120px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(237, 253, 255);
  color: rgb(92, 157, 138);
  font-size: 150%;
  text-align: center;
}

#nav-bar button:hover {
  color: black;
  background-color: white;
}