#nav-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  width: 100%;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  line-height: 2.5em;
  font-size: 200%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}