.new-tweet {
  background-color: #eee;
  margin: 20px 2em 20px 2em;
  border-radius: 5px;
  display: none; }
  .new-tweet h2 {
    border-bottom: 1px solid #000000;
    text-align: left;
    margin-left: 0.38em;
    margin-right: 0.38em;
    margin-bottom: 0.1em;
    padding-top: 8px; }
  .new-tweet form {
    text-align: left;
    padding: 0.5em;
    padding-bottom: 0.7em; }
    .new-tweet form textarea {
      overflow: auto;
      height: 80px;
      width: 100%;
      text-align: left;
      padding: 0.5em;
      margin-bottom: 0.5em;
      color: #344952; }
    .new-tweet form span.counter {
      float: right;
      margin-top: 2px; }
    .new-tweet form span.counter-red {
      color: red; }
